* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  display: flex;
  margin: 10px;
}

.left-page {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 50px;
  background-color: whitesmoke;
  border-radius: 15px;
}
.left-page__menu {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
}
.left-page__title-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-page__title-img img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  box-shadow: 0px 7px 15px 1px rgba(255, 0, 0, 0.2);
  margin-bottom: 10px;
}
.left-page__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.title__artist {
  font-size: 20px;
  font-weight: 900;
  margin: 5px;
}
.title__genre {
  font-size: 14px;
  font-weight: 900;
  opacity: 0.4;
  margin: 5px;
}
.left-page__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.btn__left {
  margin: 5px;
  font-size: 12px;
  color: white;
  padding: 10px 30px;
  background-color: black;
  border-radius: 15px;
}
.btn__right {
  margin: 5px;
  font-size: 12px;
  color: gray;
  padding: 10px 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}
.btn__right i {
  color: black;
}
.left-page__list {
  display: flex;
  flex-direction: column;
  margin: 0px 5px;
}
.list__song {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  position: relative;
}
.list__song img {
  height: 45px;
  width: 45px;
  border-radius: 10px;
}
.song__text {
  display: flex;
  flex-direction: column;
  margin: 7px 10px;
  font-size: 14px;
}
.song__text span {
  margin: 3px 0px;
  font-weight: 700;
}
.list__song i {
  position: absolute;
  right: 15px;
  color: gray;
  opacity: 50%;
}
.song__harry {
  color: gray;
  font-weight: 0;
  opacity: 0.5;
}
.list__second {
  border-radius: 5px;
  box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.2);
}
.left-page__playbox {
  margin: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 270px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.877);
  border-radius: 25px;
  top: 100px;
}
.box__left {
  display: flex;
  flex-direction: column;
  color: white;
}
.box__left span {
  margin-bottom: 7px;
}
.box__harry {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.383);
}
.box__right {
  display: flex;
  align-items: center;
  color: white;
}
.box__right i {
  padding: 5px;
}
.right-page {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 50px;
  background-color: whitesmoke;
  border-radius: 15px;
}
.right-page__menu {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
}
.right-page__title-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-page__title-img img {
  margin: 50px 0px;
  width: 220px;
  height: 220px;
  border-radius: 20px;
  box-shadow: 0px 18px 17px 2px rgba(255, 0, 0, 0.2);
}
.right-page__music {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.music__title {
  padding: 12px;
  font-size: 24px;
  font-weight: 700;
}
.music__artist {
  font-size: 15px;
  font-weight: 700;
  opacity: 0.4;
}
.right-page__timer {
  display: flex;
  flex-direction: column;
  margin: 20px 30px;
}

.timer__times {
  display: flex;
  justify-content: space-between;
}
.timer__times span {
  font-size: 12px;
  padding: 5px;
  font-weight: 700;
  color: gray;
  opacity: 0.7;
}
.right-page__bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}
.fa-play-circle {
  opacity: 0.9;
}
.fa-sync-alt,
.fa-random {
  color: gray;
  opacity: 0.5;
}
